src/main/resources/schemas/Passenger.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Passenger">
    <xs:complexType>
      <xs:sequence>
      	<xs:element name="id" type="xs:long" />
        <xs:element name="firstName" type="xs:string"/>
        <xs:element name="lastName" type="xs:string"/>
        <xs:element name="address" type="xs:string"/>
        <xs:element name="phoneNumber" type="xs:long"/>
        <xs:element name="email" type="xs:string"/>
        <xs:element name="numberOfRides" type="xs:long"/>
        <xs:element name="personID" type="xs:long"/>
    </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
