src/main/resources/schemas/Station.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Station">
    <xs:complexType>
      <xs:sequence>
      	<xs:element name="id" type="xs:long" />
        <xs:element name="name" type="xs:string"/>
        <xs:element name="type" type="xs:string"/>
        <xs:element name="address" type="xs:string"/>
        <xs:element name="routeID" type="xs:long"/>
    </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
