src/main/resources/schemas/Taxi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Taxi">
    <xs:complexType>
      <xs:sequence>
      	<xs:element name="id" type="xs:long" />
        <xs:element name="make" type="xs:string"/>
        <xs:element name="model" type="xs:string"/>
        <xs:element name="year" type="xs:string"/>
        <xs:element name="capacity" type="xs:long"/>
        <xs:element name="driverID" type="xs:long"/>
        <xs:element name="liscencePlate" type="xs:string"/>
        <xs:element name="vehicleID" type="xs:long"/>        
    </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>