src/main/resources/schemas/VehicleMaintenance.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="VehicleMentenance">
    <xs:complexType>
      <xs:sequence>
      	<xs:element name="id" type="xs:long" />
        <xs:element name="date" type="xs:long"/>
        <xs:element name="type" type="xs:string"/>
        <xs:element name="description" type="xs:long"/>
        <xs:element name="vehicleID" type="xs:long"/>          
    </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

